<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bookstoredb?serverTimezone=UTC</property>
        <property name="connection.username">gabriel</property>
        <property name="connection.password">gabriel</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping resource="com/bookstore/entity/Customer.hbm.xml"/>
        <mapping resource="com/bookstore/entity/Category.hbm.xml"/>
        <mapping resource="com/bookstore/entity/Book.hbm.xml"/>
        <mapping resource="com/bookstore/entity/BookOrder.hbm.xml"/>
        <mapping resource="com/bookstore/entity/OrderDetails.hbm.xml"/>
        <mapping resource="com/bookstore/entity/Review.hbm.xml"/>
        <mapping resource="com/bookstore/entity/Users.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
